$color-turquoise: #1ABC9C;
$color-greensea: #16A085;
$color-green: #2ECC71;
$color-green-dark: #27AE60;
$color-blue: #3498DB;
$color-blue-dark: #2980B9;
$color-purple: #9B59B6;
$color-purpke-dark: #8E44AD;
$color-navy: #34495E;
$color-dark-navy: #2C3E50;

$color-yellow: #F1C40F;
$color-yellow-dark: #F39C12;
$color-orange: #E67E22;
$color-orange-dark: #D35400;
$color-red: #E74C3C;
$color-red-dark: #C0392B;

$color-gray: #95A5A6;
$color-gray-dark: #7F8C8D;
$color-gray-light: #BDC3C7;
$color-gray-lighter: #ECF0F1;