@import 'colors';
@mixin colors($color,$font:#fff){
   color: $font;
	background-color: $color;
   border: 1px solid darken($color,10);
	background: -webkit-gradient(linear, left top, left bottom, from(lighten($color,2)), to(darken($color,5)));
	background: -moz-linear-gradient(top, lighten($color,2),  darken($color,5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten($color,2)', endColorstr='darken($color,8)');
	&:hover {
		background: -webkit-gradient(linear, left top, left bottom, from(lighten($color,8)), to(darken($color,2)));
		background: -moz-linear-gradient(top, lighten($color,2),  darken($color,8));
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten($color,2)', endColorstr='darken($color,8)');
    }
    &:active {
		box-shadow: 0 0 0 3px rgba(217, 217, 217, .6), inset 0 1px 0px 0px darken($color,20), inset 0 -1px 1px 0 lighten($color,10);
    }
}

@mixin transform($m:3px){
    -webkit-transform: translateY($m);
    -moz-transform: translateY($m);
    transform: translateY($m);
}


.btn {
	font-family: Arial, sans-serif;
	padding: 9px 12px;
	font-size: .9em;
	margin-right: 10px; /* may need to remove in production */
	color: #fff;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	box-shadow: 0 0 0 3px rgba(217, 217, 217, .6), inset 0 1px 0px 0px rgba(255, 255, 255, .4), inset 0 -1px 1px 0 rgba(0, 0, 0, .1);
}

.btn-large {
	font-size: 1.4em;
	padding: .4em 1.5em;
}
.btn-small {
	font-size: .8em;
	padding: .5em 1em;
}

/*
@each $color in red,blue,green,purple,turquoise,orange,yellow,gray,navy {
	.btn-#{$color} {
		@include colors({$color-#{$color}});	
	}
}
*/

.btn {@include colors($color-gray-light);}
.btn-red {@include colors($color-red);}
.btn-blue {@include colors($color-blue);}
.btn-green {@include colors($color-green);}
.btn-purple {@include colors($color-purple);}
.btn-turquoise {@include colors($color-turquoise);}
.btn-orange {@include colors($color-orange);}
.btn-yellow {@include colors($color-yellow);}
.btn-gray {@include colors($color-gray);}
.btn-navy {@include colors($color-navy);}
